

.footer-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    font-size: 14px;
}

.footer-content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#w-node-_116c6020-8c66-bb25-2d61-fa18863f53bf-863f538d {
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -ms-grid-row-align: end;
    align-self: end;
}
.social-icons-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.space-top {
    margin-top: 20px;
}
.social-icons-wrap.space-top {
    margin-top: 10px;
}
#w-node-_116c6020-8c66-bb25-2d61-fa18863f53af-863f538d {
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
}


.form-button.small.single-item-form-button {
    margin: 6px;
    padding: 12px 16px;
    background-color: #5a7d7c;
    color: #fff;
    font-weight: 400;
}
.form-block {
    width: 100%;
}

.w-form {
    margin: 0 0 15px;
}

.single-item-form-text-field {
    margin: 6px 0px 6px 6px;
    border: 0px none #000;
    border-radius: 8px;
    background-color: transparent;
    font-size: 12px;
}

.w-input, .w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

input[type="email" i] {
    padding: 1px 2px;
}

input {
    -webkit-writing-mode: horizontal-tb !important;

    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}



.footer-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #e5e7eb;
    border-radius: 8px;
    background-color: #f9fafb;
}

.container {
    z-index: 10;
    /* max-width: 1200px; */
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
}